<div class="container mt-5">
  <div class="row">
    <!-- Left-->
    <div class="col-md-7">
      <div class="card shadow">
        <div class="card-header text-center text-primary">
          <b>ACCOUNT</b>
        </div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">ACCOUNT ID :</label>
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-primary"><i class="bi bi-search"></i>Search</button>
            </div>
          </form>
          <ng-container *ngIf="accountResponseModelObservable | async as account">

            <div class="mb-2">
              <label><b>ID : </b></label>{{account.id}}
            </div>
            <div class="mb-2">
              <label><b>Status : </b></label>{{account.status}}
            </div>
            <div class="mb-2">
              <label><b>Balance : </b></label>{{account.balance | number : '1.2-2'}}
            </div>

            <table class="table" *ngIf="operationResponseModelsObservable | async as operations">
              <caption>operations list</caption>
              <thead>
                <th class="text-start">DATE</th>
                <th class="text-center">TYPE</th>
                <th class="text-end">AMOUNT</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of operations" (click)="showOperation(op)">
                  <td class="text-start">{{op.dateTime | date : 'dd-MM-yyyy:HH-mm-ss'}}</td>
                  <td class="text-center">{{op.type}}</td>
                  <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary" (click)="gotoPreviousPage()">Left</button>
              <button type="button" class="btn btn-primary" (click)="gotoNextPage()">Right</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-md-5">
      <ng-container *ngIf="accountResponseModelObservable | async as account">
        <div class="card shadow">
          <div class="card-header text-primary text-center">
            <b>OPERATION</b>
          </div>
          <div class="card-body">
            <form [formGroup]="operationFromGroup" (ngSubmit)="handleSaveOperation()" method="post">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT" (click)="unSetTransfer()">
                <label class="form-check-label">Debit:</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT" (click)="unSetTransfer()">
                <label class="form-check-label">Credit:</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER" (click)="setTransfer()">
                <label class="form-check-label">Transfer:</label>
              </div>

              <div class="mb-3">
                <label class="form-label">Amount :</label>
                <input type="text" formControlName="amount" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label">Description :</label>
                <input type="text" formControlName="description" class="form-control">
              </div>
              <div class="mb-3" *ngIf="isTransfer">
                <label class="form-label">ID DESTINATION :</label>
                <input type="text" formControlName="destination" class="form-control">
              </div>
              <div class="d-grid mb-1">
                <button class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
