<div class="container mt-5">
  <ng-container *ngIf="operationsObservable | async as operations; else loadOperationTemplate">
    <div class="card col-md-8 offset-2 shadow">
      <div class="card-header text-info">
        <h6 class="card-title text-center">List des opérations du comptes <span class="text-success">{{accountId}}</span></h6>
      </div>
      <div class="card-body">
        <div *ngIf="!errorFlag">
          <table class="table table-striped">
            <thead>
            <th class="text-start">Date</th>
            <th class="text-center">Type</th>
            <th class="text-center">Montant</th>
            <th class="text-end"></th>
            </thead>
            <tbody>
            <tr *ngFor="let operation of operations">
              <td class="text-start">{{operation.dateTime | date:'dd/MM/yyyy - HH:mm:ss' }}</td>
              <td class="text-center">{{operation.type}}</td>
              <td class="text-center">{{operation.amount}}</td>
              <td class="text-end">
                <button class="btn btn-outline-info" (click)="gotoOperationDetailComponent(operation)">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-6 text-start">
              <p class="d-inline-flex gap-1">
                <button type="button" class="btn btn-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="gotoPreviousPage()">
                  <i class="bi bi-caret-left"> Précedent</i>
                </button>
                <button type="button" class="btn btn-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="gotoNextPage(operations)">
                  <i class="bi bi-caret-right"> Suivant</i>
                </button>
              </p>
            </div>
            <div class="col-md-6 text-end">
              <button type="button" class="btn btn-info text-end" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="gotoAccountDetailComponent(operations)">
                <i class="bi bi-backspace-reverse"> Compte</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadOperationTemplate>
    <div class="alert alert-warning shadow" role="alert" *ngIf="errorFlag">
      Code : {{errorCode}}<br>
      Message : {{errorMessage}}<br>
      Description : {{errorDescription}}
    </div>
  </ng-template>
</div>
